<h2>Registrar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <h6>Nombre de Perfil</h6>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <h6>Email</h6>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <h6>Foto de Perfil</h6>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= f.file_field :perfil, accept: 'image/jpg, image/png' %>
  </div><br>

  <div class="field">

    <h6>Contraseña</h6>
    <% if @minimum_password_length %>
    &nbsp;&nbsp;&nbsp;&nbsp;<em>(<%= @minimum_password_length %> caracteres minimos)</em>
    <% end %><br />
    &nbsp;&nbsp;&nbsp;&nbsp;<%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <h6>Repita su nueva contraseña </h6>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>
